body {
    margin:0;
    background-image: radial-gradient(white, #124d2f);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 70px 0fr 30px;
    justify-content: center;
    gap: 5px;
}
header {
    grid-column: span 2;
}
img {
    height: 150px;
    width: 100px;
}
h2 {
    text-shadow: 1px 1px #ffffff;
}
#dealer {
    align-items: center;
    grid-column: span 2;
    height: fit-content;
}
#player {
    height:fit-content;
}
#buttons {
    height: fit-content;
}
.actionBtns {
    display: block;
    width: 75px;
    height: 35px;
    margin: 3px;
}
#backImg {
    visibility: hidden;
}